.footer {
  height: 400px;

  background-color: #3200ff;
}

.font {
  font-family: "Jost", sans-serif !important;
}

.link {
  font-family: "Jost", sans-serif !important;
  color: white;
  text-decoration: none;
  position: relative;

  cursor: pointer;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: lightblue;
  position: absolute;
  bottom: -4px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.link:hover::after {
  opacity: 1;
}
