.intropage {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: #01002b;

  overflow: hidden;
  position: relative;

  flex-direction: column;
}

.astronot {
  position: relative;
  z-index: 1;
  width: 450px;
}

.title {
  color: aliceblue;

  font-size: 90px;
  font-weight: 600;

  font-family: "Poppins", sans-serif;
}
