.intropage {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: #ffffff;

  overflow: hidden;
  position: relative;

  flex-direction: column;
}

.astronot {
  position: relative;
  z-index: 1;
  width: 450px;
}